<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1" />
        <title>Face detection Node Opencv</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="face-detect">
            <div class="example">
                <img src='g.r.l.jpeg' width="640" height="480">
            </div>
            <div class="example">
                <canvas id="canvas-video" width="640" height="480"></canvas>
            </div>
        </div>
        <script src="/js/image-face-detect.js"></script>
    </body>
</html>
