<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1" />
        <title>Face detection Node Opencv</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
       <div class="face-detect">
           <a href='/webcam-face-detect' class="examples">
               Realtime Face detection in Webcam
           </a>
           <a href='/image-face-detect' class="examples">
               Detect Faces in Images
           </a>
       </div>
    </body>
</html>
